Repository GECO-IT/woodpecker-plugin-teams-notify: changes, and which Woodpecker steps are due for each by the changed paths.
All: lint-dockerfile, lint-shell, lint-markdown

lint-dockerfile:
  image: hadolint/hadolint:v2.12.1-beta-alpine
  commands:
  - hadolint Dockerfile
  - hadolint Dockerfile.Windows

lint-shell:
  image: koalaman/shellcheck-alpine:latest
  commands:
  - shellcheck -S warning *.sh

lint-markdown:
  image: davidanson/markdownlint-cli2:v0.14.0
  commands:
  - markdownlint-cli2 *.{md,markdown}

add badges
  README.md
Due: lint-markdown

Only one script for Windows & Linux
  Dockerfile
  Dockerfile.Windows
  teams-notify-windows.sh
  teams-notify.sh
Due: lint-dockerfile, lint-shell

Update pipeline
  .woodpecker/docker-manifest.yml
  .woodpecker/lint.yml
  .woodpecker/linux-build-and-push.yml
  .woodpecker/windows-build-and-push.yml
Due: none

Add geco repo template
  .forgejo/ISSUE_TEMPLATE.yml
  .forgejo/ISSUE_TEMPLATE/Bug.yml
  .forgejo/ISSUE_TEMPLATE/Feature.yml
  .forgejo/ISSUE_TEMPLATE/Question.yml
  .forgejo/PULL_REQUEST_TEMPLATE.yml
  .forgejo/template
  .hadolint.yml
  .yamllint.yaml
Due: none

fixe build
  .woodpecker/windows-build-and-push.yml
  Dockerfile.Windows
Due: lint-dockerfile

add auto sync to docker-hub
  .woodpecker/harbor-label.yml
Due: none

fixe permission denied
  Dockerfile.Windows
Due: lint-dockerfile

fixe path
  teams-notify.sh
Due: lint-shell

update [CI SKIP]
  README.md
Due: lint-markdown

update URL [CI SKIP]
  docs.md
Due: lint-markdown

replace bad plugin description [CI SKIP]
  docs.md
Due: lint-markdown

fixe permission denied v2
  Dockerfile.Windows
Due: lint-dockerfile

remove CI_COMMIT_TAG dont for no pollute the registry
  .woodpecker/docker-manifest.yml
  .woodpecker/harbor-label.yml
  .woodpecker/linux-build-and-push.yml
  .woodpecker/windows-build-and-push.yml
Due: none

fixe docker-hub url
  docs.md
Due: lint-markdown

add vscode settings
  .vscode/dictionaries/project-words.txt
  .vscode/extensions.json
  .vscode/settings.json
Due: none

update
  .hadolint.yml
  .woodpecker/docker-manifest.yml
  .woodpecker/harbor-label.yml
  .woodpecker/windows-build-and-push.yml
  README.md
Due: lint-markdown

use local registry proxy
  .woodpecker/lint.yml
Due: none

update/add step
  .pre-commit-config.yaml
Due: none

fix set harbor-label on latest tag - close #1
  .woodpecker/harbor-label.yml
Due: none

fix docker registry auth on windows local build
  .woodpecker/windows-build-and-push.yml
Due: none

add release step (changelog + gitea release)
  .woodpecker/release.yml
Due: none

woodpecker 3.0 compliance
  teams-notify.sh
Due: lint-shell

auto update
  .pre-commit-config.yaml
Due: none

update from last template files
  .pre-commit-config.yaml
  .woodpecker/harbor-label.yml
  .woodpecker/linux-build-and-push.yml
  .woodpecker/release.yml
Due: none

fix trivy image url
  .woodpecker/linux-build-and-push.yml
Due: none

enable renovate
  renovate.json
Due: none

update all depends
  .woodpecker/lint.yml
  Dockerfile
Due: none

chore(deps): update docker-hub/docker docker tag to v28 (#10)
  .woodpecker/docker-manifest.yml
Due: none

chore(deps): update pre-commit hook gitleaks/gitleaks to v8.24.0 (#9)
  .pre-commit-config.yaml
Due: none

chore(deps): update docker-hub/pipelinecomponents/shellcheck docker tag to v0.13.1
  .woodpecker/lint.yml
Due: none

chore(deps): update docker-hub/pipelinecomponents/yamllint docker tag to v0.34.0 (#12)
  .woodpecker/lint.yml
Due: none

chore(deps): update pre-commit hook adrienverge/yamllint to v1.36.1 (#11)
  .pre-commit-config.yaml
Due: none

chore(deps): update docker-hub/pipelinecomponents/hadolint docker tag to v0.27.2
  .woodpecker/lint.yml
Due: none

chore(deps): update pre-commit hook adrienverge/yamllint to v1.36.2
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook gitleaks/gitleaks to v8.24.2
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook adrienverge/yamllint to v1.37.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook gitleaks/gitleaks to v8.24.3
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook gitleaks/gitleaks to v8.25.1 (#15)
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook adrienverge/yamllint to v1.37.0 (#13)
  .pre-commit-config.yaml
Due: none

chore(deps): update docker-hub/woodpeckerci/plugin-docker-buildx docker tag to v6
  .woodpecker/linux-build-and-push.yml
Due: none

Path conditions:
  lint-dockerfile: any of: Dockerfile.*
  lint-shell: any of: *.sh
  lint-markdown: any of: *.{md,markdown}
